@inherits LayoutComponentBase

<div class="page">
    <NavMenu />

    <main>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-10 col-md-8">
                    @Body
                </div>
            </div>
        </div>
    </main>
</div>
