<nav class="navbar navbar-expand-lg bg-light d-flex">
    <div class="container justify-content-between">
        <a class="navbar-brand" href="/">Tour Planner</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarContent">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Browse Tours</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tours/create">Create Tour</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tours/edit">Edit Tour</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tour-logs/create">Create Tour Log</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tour-logs/edit">Edit Tour Log</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Import/Export Tour</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
