<div class="row">

    <FormFieldWrapperSmall>
        <FormTextInput Label="Name" InputId="tourName" />
    </FormFieldWrapperSmall>

    @* TODO: find better input type for db type *@
    <FormFieldWrapperSmall>
        <label for="tourEstimatedTime" class="form-label">Estimated Time</label>
        <div class="input-group" id="tourEstimatedTime">
            <input type="number" class="form-control" id="tourEstimatedHours" placeholder="Hours"
                aria-label="Estimated Hours" min="0" step="1" required>
            <span class="input-group-text">Hours</span>
            <input type="number" class="form-control ms-2" id="tourEstimatedMinutes" placeholder="Minutes"
                aria-label="Estimated Minutes" min="0" max="59" step="1" required>
            <span class="input-group-text">Minutes</span>
        </div>
    </FormFieldWrapperSmall>

    <FormFieldWrapperSmall>
        <FormTextInput Label="Starting Point" InputId="tourStartingPoint" />
    </FormFieldWrapperSmall>

    <FormFieldWrapperSmall>
        <FormTextInput Label="End Point" InputId="tourEndPoint" />
    </FormFieldWrapperSmall>

    <FormFieldWrapperLarge>
        <FormTextInput Label="Description" InputId="tourDescription" />
    </FormFieldWrapperLarge>

</div>
