<div class="row d-flex justify-content-between">
    <div class="col-12 col-md-6 d-flex justify-content-center">
        <button type="submit" class="btn btn-outline-primary my-3 custom-form-button">@SubmitButtonText</button>
    </div>
    <div class="col-12 col-md-6 d-flex justify-content-center">
        <button type="button" class="btn btn-outline-danger my-3 custom-form-button">@DangerButtonText</button>
    </div>
</div>

@code {
    [Parameter]
    public string SubmitButtonText { get; set; } = "Submit"; // Default text for primary button

    [Parameter]
    public string DangerButtonText { get; set; } = "Delete"; // Default text for secondary button

}