<div class="row">
    <FormFieldWrapperSmall>
        <FormTextInput Label="Tour" InputId="tourLogSelectedTour" />
    </FormFieldWrapperSmall>
    <FormFieldWrapperSmall>
        <FormTextInput Label="Title" InputId="tourLogTitle" />
    </FormFieldWrapperSmall>
    <FormFieldWrapperSmall>
        <FormTextInput Label="Date" InputId="tourLogDate" />
    </FormFieldWrapperSmall>
    <FormFieldWrapperSmall>
        <FormTextInput Label="Starting Time" InputId="tourLogStartingTime" />
    </FormFieldWrapperSmall>
    <FormFieldWrapperSmall>
        <FormTextInput Label="Total Distance" InputId="tourLogTotalDistance" />
    </FormFieldWrapperSmall>
    <FormFieldWrapperSmall>
        <FormTextInput Label="Total Duration" InputId="tourLogTotalDuration" />
    </FormFieldWrapperSmall>
    <FormFieldWrapperSmall>
        <FormTextInput Label="Difficulty" InputId="tourLogDifficulty" />
    </FormFieldWrapperSmall>
    <FormFieldWrapperSmall>
        <FormTextInput Label="Rating" InputId="tourLogRating" />
    </FormFieldWrapperSmall>
    <FormFieldWrapperSmall>
        <FormTextInput Label="Comment" InputId="tourLogComment" />
    </FormFieldWrapperSmall>
</div>
