<label for="@InputId" class="form-label">@Label</label>
<input type="text" class="form-control" id="@InputId" required>

@code {
    [Parameter]
    public string? Label { get; set; } // Label text

    [Parameter]
    public string? InputId { get; set; } // HTML ID for the input

}
