<div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary my-3 custom-form-button rounded-pill">
        <i class="bi-check-circle"></i>
        <span class="ms-2">@ButtonText</span>
    </button>
</div>

@code {
    [Parameter]
    public string ButtonText { get; set; } = "Submit"; // Default text
}