@page "/tour-logs/create"

<CustomPageTitle Text="Create Tour Log" />
<form action="">

    <FormFieldsForTourLog />
    <FormSubmitButtonSingle ButtonText="Create Tour Log" />

</form>

@code {

}
