@page "/tour-logs/edit"

<CustomPageTitle Text="Edit Tour Log" />

<form action="">

    <FormFieldsForTourLog />
    <FormSubmitAndDangerButtons SubmitButtonText="Apply Changes" DangerButtonText="Delete Tour Log" />

</form>

@code {

}