@page "/tours/edit"

<CustomPageTitle Text="Edit Tour" />

<form action="">

    <FormFieldsForTour />
    <FormSubmitAndDangerButtons SubmitButtonText="Apply Changes" DangerButtonText="Delete Tour" />

</form>

@code {

}
