@page "/"

<PageTitle>Home</PageTitle>


<CustomBodyContainerMedium>
    <CustomBodyWrapperRounded>
        <div class="row justify-content-center">
            <p class="fs-3 text-center">Welcome to Tour Planner</p>
            <form action="">
                <FormSingleTextInputAndButton PlaceholderText="Search in Tours and Logs..." ButtonText="Search"></FormSingleTextInputAndButton>
            </form>
        </div>
    </CustomBodyWrapperRounded>
    <CustomBodyWrapperRounded>
        <p class="fs-4 p-0">Quick Picks</p>
        <div class="row ms-1 justify-content-between">
            <div class="col-12 col-sm-4 mb-2">
                <button class="btn btn-outline-secondary" type="button" id="createTourLogButton" style="width: 100% !important; height: 3.5rem">Create Tour</button>
            </div>
            <div class="col-12 col-sm-4 mb-2">
                <button class="btn btn-outline-secondary" type="button" id="createTourLogButton" style="width: 100% !important; height: 3.5rem">Browse Tours</button>
            </div>
            <div class="col-12 col-sm-4 mb-2">
                <button class="btn btn-outline-secondary" type="button" id="createTourLogButton" style="width: 100% !important; height: 3.5rem">Tour Report</button>
            </div>
        </div>
    </CustomBodyWrapperRounded>
    <CustomBodyWrapperRounded>
        <div class="row ms-1">
            <p class="fs-4 p-0">Beloved Tours</p>
            <ul class="list-group" style="border-radius: 0.8rem">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    The Lovers in Vienna
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Budapest's Best Taverns
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-center">
                    The Lovers in Vienna
                </li>
            </ul>
        </div>
    </CustomBodyWrapperRounded>
    <CustomBodyWrapperRounded>
        <div class="row ms-1">
            <p class="fs-4 p-0">Latest Logs</p>
            <form class="ps-0 mb-3">
                <FormSingleTextInputAndButton PlaceholderText="How was your experience?" ButtonText="Create Tour Log"></FormSingleTextInputAndButton>
            </form>

            <ul class="list-group" style="border-radius: 0.8rem">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    The best day ever!
                    <div class="dropdown">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Expand</a></li>
                            <li><a class="dropdown-item" href="#">Edit</a></li>
                            <li><a class="dropdown-item" href="#">Delete</a></li>
                        </ul>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    My Dad's favorite tour
                    <div class="dropdown">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Expand</a></li>
                            <li><a class="dropdown-item" href="#">Edit</a></li>
                            <li><a class="dropdown-item" href="#">Delete</a></li>
                        </ul>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Not suitable for kids or dogs!
                    <div class="dropdown">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Expand</a></li>
                            <li><a class="dropdown-item" href="#">Edit</a></li>
                            <li><a class="dropdown-item" href="#">Delete</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </CustomBodyWrapperRounded>


</CustomBodyContainerMedium>