html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #006bb7;
}

.custom-form-button {
    width: 100%;
}

.btn.btn-outline-secondary,
.btn.btn-outline-danger{
    background-color: white !important;
}

.btn.btn-outline-secondary:hover{
    background-color: #6c757d !important;
}

.btn.btn-outline-danger:hover{
background-color: #dc3545 !important;
}