@page "/"
@using TourPlanner.ViewModels.CustomViewModels
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>


<CustomBodyContainerMedium>
    <CustomBodyWrapperRounded>
        <div class="row justify-content-center">
            <p class="fs-1 text-center">Welcome to Tour Planner</p>
            <div class="col-12 mt-3">
                <div class="custom-wrapper-input-pill ms-0 mb-0">
                    <input type="text" class="custom-text-input-pill" placeholder="Search in Tours and Logs..." @bind-value="_viewModel.SearchQuery">
                    <a class="custom-button-pill btn btn-outline-secondary" href="@_viewModel.SearchUrl" @onclick="@_viewModel.NavigateToSearch">
                        <i class="bi bi-search"></i>
                        <span class="ms-1">Search</span>
                    </a> 
                </div>
            </div>
        </div>
    </CustomBodyWrapperRounded>
    <CustomBodyWrapperRounded>
        <CustomSecondaryHeader Text="Quick Picks"/>
        <div class="row ms-1 justify-content-between">
            <div class="col-12 col-sm-4 mb-2">
                <CustomQuickPickAnchor ButtonText="All Tours" Url="/tours" ButtonId="browseToursButton" IconClass="bi bi-list" />
            </div>
            <div class="col-12 col-sm-4 mb-2">
                <CustomQuickPickAnchor ButtonText="Create Tour" Url="/tour/create" ButtonId="createTourButton" IconClass="bi bi-plus-circle"/>
            </div>
            <div class="col-12 col-sm-4 mb-2">
                <CustomQuickPickAnchor ButtonText="Create Log" Url="/tour-log/create" ButtonId="createTourLogButton" IconClass="bi bi-plus-circle"/>
            </div>

        </div>
    </CustomBodyWrapperRounded>
    <CustomBodyWrapperRounded>
        <div class="row ms-1">
            <CustomSecondaryHeader Text="Beloved Tours"/>
            <ul class="list-group" style="border-radius: 0.8rem">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    The Lovers in Vienna
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Budapest's Best Taverns
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-center">
                    The Lovers in Vienna
                </li>
            </ul>
        </div>
    </CustomBodyWrapperRounded>
    <CustomBodyWrapperRounded>
        <div class="row ms-1">
            <CustomSecondaryHeader Text="Latest Logs"/>
            <div class="col-12 ps-0">
                <CustomInputFieldToCreateTourLog />
            </div>
            <ul class="list-group" style="border-radius: 0.8rem">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    The best day ever!
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    My Dad's favorite tour
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Not suitable for kids or dogs!
                </li>
            </ul>
        </div>
    </CustomBodyWrapperRounded>
</CustomBodyContainerMedium>

@code {
    
    private HomeViewModel _viewModel = null!;

    protected override Task OnInitializedAsync()
    {
        _viewModel = new HomeViewModel(NavigationManager);
        return Task.CompletedTask;
    }
}