@inherits LayoutComponentBase
<RadzenComponents />


<div class="page">
    <NavMenu />

    <main>
        <div class="container-fluid mt-5">
            <div class="row justify-content-center">
                @Body
            </div>
        </div>
    </main>
</div>
